@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'arabic';
    src: url('../font/OFL.txt') format('truetype');
}
@font-face {
    font-family: 'suns';
    src: url('../font/yekan/Yekan.ttf') format('truetype');
}